@page "/admin"
@using Rubriki.SharedComponents
@inject Model model

<h3>Admin Functions</h3>

<button class="btn btn-primary" @onclick="ResetDataClicked">Reset Database</button>
<ActivityIndicator Visible="@model.IsWorking" />
<SuccessMessage Message="@model.SuccessMessage" />
<ErrorMessage Message="@model.ErrorMessage" />

@code {
    async Task ResetDataClicked()
    {
        await model.ResetData();
    }
}
