@page "/admin"
@inject Model model

<PageTitle>Admin</PageTitle>

<h3>Admin Functions</h3>

<AuthorizeView Roles="Admin">
    <Authorized >
        <div class="mb-4">
            <button class="btn btn-primary" @onclick="ClearScoresClicked">Clear Scores</button>
        </div>
        <label>Seed Data</label>
        <InputTextArea @bind-Value="model.SeedDataJson" class="form-control" rows="20" />
        <button class="btn btn-primary mt-3" @onclick="InitializeDatabaseClicked">Initialize Database</button>
        <ActivityIndicator Visible="@model.IsWorking" />
        <SuccessMessage Message="@model.SuccessMessage" TopMargin="3" />
        <ErrorMessage Message="@model.ErrorMessage" TopMargin="3" />
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-warning">
            <p>These functions require an Admin role.</p>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    protected override async Task OnInitializedAsync()
    {
        await model.Load();
    }

    async Task ClearScoresClicked()
    {
        await model.ClearScores();
    }

    async Task InitializeDatabaseClicked()
    {
        await model.InitializeDatabase();
    }
}
