@page "/contestant/{id}"
@using Rubriki.SharedComponents

<PageTitle>Contestant</PageTitle>

<AuthorizeView>
    <Authorized>
        <ContestantPanel ContestantId="@Id" />
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-warning">
            <p>You must be signed in to view contestant details.</p>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    [Parameter]
    public string? Id { get; set; }
}
