@page "/results"
@using Rubriki.SharedComponents

<PageTitle>Results</PageTitle>

<h3>Results</h3>

<AuthorizeView>
    <Authorized>
        <ResultsPanel />
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-warning">
            <p>You must be signed in to view results.</p>
        </div>
    </NotAuthorized>
</AuthorizeView>
