@page "/results"
@using Rubriki.SharedComponents

<PageTitle>Results</PageTitle>

<h3>Results</h3>

<AuthorizeView>
    <Authorized>
        <ResultsPanel />
    </Authorized>
    <NotAuthorized>
        <SignInRequiredMessage />
    </NotAuthorized>
</AuthorizeView>
