@using Microsoft.AspNetCore.Components.Authorization
@using Rubriki.SharedComponents
@page "/score-entry"
@page "/score-entry/{contestantId}"

<PageTitle>Score Entry</PageTitle>

<h3>Score Entry</h3>

<AuthorizeView Roles="Judge, Admin">

    <Authorized>
        <div style="max-width:1000px">
            <ScoreEntryPanel ContestantId="@ContestantId" />
        </div>
    </Authorized>
    <NotAuthorized>
        <p>These functions require a Judge role.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string? ContestantId { get; set; }
}
