@page "/setup"
@inject Model model

<h3>Set Up</h3>

<AuthorizeView Roles="Admin">
    <Authorized>
        <button class="btn btn-primary" @onclick="ClickedEvent">Initialize App Data</button>
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-warning">
            <p>You must be signed in with an Admin role to set up the application.</p>
        </div>
    </NotAuthorized>
</AuthorizeView>

<div class="mt-3">
    <Rubriki.SharedComponents.ActivityIndicator Visible="@model.IsWorking"/>
    <Rubriki.SharedComponents.SuccessMessage Message="@model.SuccessMessage"/>
    <Rubriki.SharedComponents.ErrorMessage Message="@model.ErrorMessage"/>
</div>

@code {
    private async Task ClickedEvent()
    {
        await model.Execute();
    }
}
