@page "/submit-scores"
@inject Model model

<h3>Submit Scores</h3>

<div>
<label>Scores to submit:</label>
    @if (model.ScoresToSubmit is null)
    {
        <Rubriki.SharedComponents.ActivityIndicator />
    }
    else
    {
        <span class="ms-2"><b>@model.ScoresToSubmit</b></span>
    }
</div>

<div class="mt-3">
    <div style="max-width:300px">
        <label>Secret Code</label>
        <InputText type="password" @bind-Value="model.SecretCode" class="form-control" placeholder="Enter the Secret Code" />
    </div>
    <button class="btn btn-primary mt-2" @onclick="ClickedEvent">Submit Scores Now</button>
</div>

<div class="mt-3">
    <Rubriki.SharedComponents.ActivityIndicator Visible="@model.IsWorking"/>
    <Rubriki.SharedComponents.SuccessMessage Message="@model.SuccessMessage"/>
    <Rubriki.SharedComponents.ErrorMessage Message="@model.ErrorMessage"/>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await model.Load();
    }

    private async Task ClickedEvent()
    {
        await model.Execute();
    }
}
