@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-success content-width mt-@TopMargin" role="alert">
        @Message
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }

    [Parameter]
    public string TopMargin { get; set; } = "0";
}
