@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-success content-width" role="alert">
        @Message
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }
}
